<a class="navbar-brand text-white fw-bold" href="/" style="font-size: 22px;">
    <img 
        style="height: 30px; width: 30px; border-radius: 30%;" 
        src="./assets/images/SSAI.png" 
        alt="Logo"
    />
    <u>
        <span style="color: rgba(190,190,190)"><i>S.S.</i></span>AI
    </u>
</a>