<a class="navbar-brand text-white fw-bold" href="/" style="font-size: 22px;">
    <img 
        style="height: 27px; width: 27px; border-radius: 30%; margin-top: -5px" 
        src="./assets/images/SSAI.png" 
        alt="Logo"
    />
    <span style="color: rgba(190,190,190) !important;"><i>SS</i></span>AIGEN
</a>